{% extends "layout.html" %}
{% block title %} Fruits {% endblock %}
{% block content %}


<h1 class="my-5 py-5 text-center">Fruits list</h1>


<div xmlns="">
    <a href= {{ url_for('home.home_page') }}>Back</a>

    <form method="POST" action="{{ url_for('fruits.add_fruit') }}">
        <p><label for="title">Add fruit name below:</label></p>
    <input name="fruit" id="title" value="{{ request.form['fruit']}}" required>
    <input type="submit" value="Add">
    </form>
</div>


<div class="row">
    {% for fruit in fruits %}
    <p>{{ fruit }}
     <form method="POST" action="{{ url_for('fruits.del_fruit') }}">
         <input type="hidden" name="fruit" value="{{ fruit }}" />
         <input type="submit" value="Delete" onclick="return confirm('Delete fruit?')" />
     </form>
    </p>
{% endfor %}
</div>
{% endblock %}