{% extends "layout.html" %}
{% block title %} Fruits {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}


<h1 class="my-5 py-5 text-center">Vegetables list</h1>


<div xmlns="">
    <a href= {{ url_for('home.home_page') }}>Back</a>
</div>

    <form method="POST" action="{{ url_for('vegetables.add_vegetable') }}">
        <p><label for="title">Add vegetable name below:</label></p>
    <input name="vegetable" id="title" value="{{ request.form['vegetable']}}" required>
    <input type="submit" value="Add">
    </form>

 <div class="row">
    {% for vegetable in vegetables %}

     <p>{{ vegetable }}


    <form method="POST" action="{{ url_for('vegetables.del_vegetable') }}">
        <input type="hidden" name="vegetable" value="{{ vegetable }}" />
     <input type="submit" value="Delete" onclick="return confirm('Delete vegetable?')" />
</form>
     </p>
    {% endfor %}
</div>
{% endblock %}